<div style="text-align: center" ng-show="!hideBanner" class="alert alert-success alert-dismissible" uib-alert close="closeAlert()" role="alert">
  <h4 class="alert-heading">Serify is going live!</h4>
  <h5 >Serify has made it to the final round of the Big Ideas @ Berkeley 2017.</h5>
  <h5 class="mb-0"><a ng-click="voteButtonClick()">Help us go live, Vote Here!</a></h5>
</div>
<div class="publicProfile">
	<div ng-show="linkname && !error" class="do-not-animate">
			<h4 id="publicProfileUsername">{{username}}</h4>
	</div>
	<div id="publicProfileInfo" ng-show="linkname && !error">
		{{profile}}
		<hr>
	</div>
	<div ng-show="!linkname && !error" class="do-not-animate">
			<h4 id="publicProfileUsername">Retrieving Profile...</h4>
	</div>
	<div ng-show="error" class="do-not-animate">
			<h4 id="publicProfileUsername">{{error}}</h4>
	</div>
	<div>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<table id="publicProfileTable" class="table" ng-show="linkname && !error">
					<thead>
						<tr>
							<th class="col-xs-7 col-sm-4 tableTopText text-center">Test</th>
							<th class="tableTopText text-center">Date</th>
							<th class="tableTopText text-center">Serify Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="verification in verifications track by $index">
							<th>
								<input readonly ng-model="verification.displayName" class="tableText">
							</th>
							<th>
								<input readonly ng-model="verification.Date" class="tableText">
							</th>
							<td tabindex="-1" style="text-align:center">
								<i style="color: limeGreen;padding-top: 5px;" ng-show="verification.Inverse" class="fa fa-minus fa-2x" aria-hidden="true"></i>
								<i style="color: limeGreen;padding-top: 5px;" ng-show="!verification.Inverse" class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>