<div>
	<div class="custom-navbar">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<div style="font-size:20px"><i class="fa fa-check-square-o" aria-hidden="true"></i> Serify</div>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li ng-show="UserAuthenticated">
							<button type="button" class="btn btn-default btn-sm" ng-click="ProfileButtonClick()">Profile</button>
						</li>
						<li>
							<button type="button" class="btn btn-default btn-sm" ng-click="SignInButtonClick()">{{UserAuthenticated ? 'Sign out' : 'Sign in/Sign up'}}</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="ui" style="margin:0% 10% 0% 10%;width:80% !important">
		<hr>
		<div ng-show="linkname && error" class="do-not-animate" style="text-align: center; border: 3px solid #00CED1;">
				<h4>You are viewing the unique profile for:</h4>
				<h4>{{username}}</h4>
		</div>
		<div ng-show="!linkname && !error" class="do-not-animate" style="text-align: center; border: 3px solid #00CED1;">
				<h4>Retrieving health record verifications...</h4>
		</div>
		<div ng-show="error" class="do-not-animate" style="text-align: center; border: 3px solid #FF0000;">
				<h4>{{error}}</h4>
		</div>
		<hr>
		<div>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-10 column">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th class="text-center">Test</th>
									<th class="text-center">Date</th>
									<th class="text-center">Verified</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="verification in verifications">
									<td>
										<input readonly ng-model="verification.Name" class="form-control" />
									</td>
									<td>
										<input readonly ng-model="verification.Date" class="form-control" />
									</td>
									<td tabindex="-1">
										<i ng-if="verification.Status === 'Verified'" class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
										<i ng-if="verification.Status === 'Failed'" class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
										<i ng-if="verification.Status === 'Unknown'" class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>