<div class="loginScreen">
	<div class="custom-navbar">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<div style="font-size:20px"><i class="fa fa-check-square-o" aria-hidden="true"></i> Serify</div>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li ng-show="IsAdmin">
							<button type="button" class="btn btn-default btn-sm" ng-click="AdminButtonClick()">Admin</button>
						</li>
						<li>
							<button type="button" class="btn btn-default btn-sm" ng-click="SignInButtonClick()">{{UserAuthenticated ? 'Sign out' : 'Sign in'}}</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div ng-show="UserAuthenticated" class="ui" style="margin:0% 10% 0% 10%;width:80% !important">
		<div style="text-align:center">
			<form class="form-inline">
				<!--<div class="form-group">
					<button ng-click="GetUserLinkClick()" class="btn btn-default"><i class="fa fa-link" aria-hidden="true"></i> Get User Link</button>
				</div>-->
				<label class="sr-only" for="inlineFormInputGroup">Username</label>
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon"><i class="fa fa-link" aria-hidden="true"></i> Profile Link</div>
					<input style="width:600px" type="text" class="form-control" ng-model="userLink" id="inlineFormInputGroup" placeholder="UsernameLink" readonly>
				</div>
			</form>
		</div>
		<hr>
		Enter your information here to show with potential partners. The data you enter here will be visible on your public profile.
		<br><br>
		<div class="container" style="width:50%">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="username" class="col-sm-2 control-label">Name </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="username" ng-model="username" placeholder="Anonymous">
					</div>
				</div>
				<div class="form-group">
					<label for="userProfile" class="col-sm-2 control-label">Info </label>
					<div class="col-sm-10">
						<textarea name="userProfile" cols="50" rows="5" ng-model="userProfile"></textarea>
					</div>
				</div>
			</form>
			<div class="pull-right">
				<button ng-click="SaveProfileButtonClick()" class="btn btn-default">Save</button>
			</div>
		</div>
		<hr>
		<div>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-10 column">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th class="text-center">Test</th>
									<th class="text-center">Date</th>
									<th class="text-center">Verified</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="verification in verifications track by $index">
									<td>
										<input class="form-control" ng-model="verification.Name" readonly>
									</td>
									<td>
										<input type="text" placeholder='Date' ng-model="verification.Date" class="form-control">
									</td>
									<td tabindex="-1" style="text-align:center">
										<i ng-if="verification.Status === 'Verified'" class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
										<i ng-if="verification.Status === 'Failed'" class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
										<i ng-if="verification.Status === 'Unknown'" class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<button ng-click="AddVerificationsButtonClick()" class="btn btn-default">Add Additional Tests</button>
			</div>
		</div>
		<hr>
		<!--<div style="text-align:center">
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-10 column">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th class="text-center">Username</th>
									<th class="text-center">Link Name</th>
									<th class="text-center">Link</th>
									<th class="text-center"><i class="fa fa-link" aria-hidden="true"></i></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="link in links">
									<td>
										<input type="text" ng-model="link.username" class="form-control" readonly>
									</td>
									<td>
										<input type="text" ng-model="link.linkname" class="form-control" readonly>
									</td>
									<td>
										<input style="width:500px" type="text" ng-model="link.userlink" class="form-control" readonly>
									</td>
									<td>
										<a type="button" class="btn btn-default btn-sm" target="_blank" ng-href="{{link.userlink}}"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>-->
	</div>
	<div ng-show="!UserAuthenticated" class="ui" style="margin:0% 10% 0% 10%;width:80% !important">
		<div style="text-align: center">
			Share your negative status. <br>
			<button type="button" class="btn btn-default btn-sm" ng-click="SignInButtonClick()">Create an account</button>
		</div>
		<hr>
	</div>
</div>