<div class="dialog-contents" style="height:330px">
	<img id="spinner" ng-show="HideLoginButton" ng-src="image/spinner.gif" class="fadeFast">
	<form style="height:330px;overflow-y:hidden;">
		<div>
			<div style="margin: 15% 0% 0% 0%;max-width:100%;" />
			<div id="loginContainer" class="form-inline">
				<div class="form-group" style="margin-bottom: 5px; width: 100%;">
					<input id="emailField" ng-model="email" name="username" type="username" class="form-control" id="email" placeholder="Email">
				</div>
				<div class="form-group" style="margin-bottom: 5px; width: 100%;">
					<input id="passwordField" ng-model="password" type="password" class="form-control" id="password" name="password" placeholder="Password">
				</div>
				<div class="form-group" style="margin-bottom: 5px; width: 100%;">
					<div style="text-align: center; position:relative; width: 100%; height: 49px; padding:5px 0px;">
						<button id="signupButton" class="btn btn-info pull-left fadeFast" ng-hide="HideLoginButton" ng-click="RegisterButtonClick()">Sign up</button>
						<button id="signinButton" type="submit" class="btn btn-success pull-right fadeFast" ng-hide="HideLoginButton" ng-click="SignInButtonClick()">Sign in</button>
					</div>
					<div style="padding-top: 5px;">
						<button id="forgotPasswordButton" class="btn btn-default ng-binding fadeFast" ng-hide="HideLoginButton" ng-click="ForgotPasswordButtonClick()">Forgot Password</button>
					</div>
					<div style="padding-top: 5px;">
						<button id="resendVerificationButton" class="btn btn-default ng-binding fadeFast" ng-hide="HideLoginButton" ng-click="ResendVerificationCodeButtonClick()">Resend Verification</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="alert" style="margin-top:5px; text-align: center;" uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()" dismiss-on-timeout="5000">{{alert.msg}}</div>
	</form>
</div>
</div>
