<div class="dialog-contents" style="height:330px">
	<form style="height:330px;overflow-y:hidden;">
		<div>
			<div style="margin: 20% 0% 0% 0%;max-width:100%;" />
			<div class="form-inline" style="text-align: center">
				<div class="form-group" style="margin-bottom: 5px">
					<label class="sr-only" for="email">email</label>
					<input ng-model="email" type="email" class="form-control" id="email" placeholder="Email">
				</div>
				<div class="form-group" style="margin-bottom: 5px">
					<label class="sr-only" for="password">Password</label>
					<input ng-model="password" type="password" class="form-control" id="password" name="password" placeholder="Password">
				</div>
				<div class="form-group" style="margin-bottom: 5px">
					<div>
						<center>
							<button type="submit" style="display: none;" ng-click="SignInButtonClick()"></button>
							<button class="btn btn-inverted" ng-click="RegisterButtonClick()">Sign up</button>
							<button type="submit" class="btn btn-inverted" ng-click="SignInButtonClick()">Sign in</button>
						</center>
					</div>
					<div style="padding:5px 0px">
						<center>
							<button class="btn btn-inverted ng-binding" ng-click="ForgotPasswordButtonClick()">Forgot Password</button>
							<button class="btn btn-inverted ng-binding" ng-click="ResendVerificationCodeButtonClick()">Resend Verification</button>
						</center>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="alert" style="margin-top:20px; text-align: center" uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()" dismiss-on-timeout="5000">{{alert.msg}}</div>
	</form>
</div>