<div class="dialog-contents" style="height:330px">
	<img id="spinnerSignUp" class="spinner fadeFast" ng-show="HideLoginButton" ng-src="image/spinner.gif">
	<form style="height:330px;overflow-y:hidden;">
		<div>
			<div id="loginContainer" class="form-inline">
				<div class="form-group" style="margin-bottom: 5px; width: 100%;">
					<input id="email" ng-model="email" name="username" type="username" class="form-control" placeholder="Email">
				</div>
				<div class="form-group" style="margin-bottom: 5px; width: 100%;">
					<input id="password" ng-model="password" type="password" class="form-control" name="password" placeholder="Password">
				</div>
				<div class="form-group" style="margin-bottom: 5px; width: 100%;">
					<div style="text-align: center; position:relative; width: 100%; height: 49px; padding:5px 0px;">
						<button id="verifyButton" type="submit" class="btn btn-success fadeFast" ng-hide="HideLoginButton" ng-click="VerifyButtonClick()">Verify</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="alert" style="margin-top:20px; text-align: center" uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()" dismiss-on-timeout="5000">{{alert.msg}}</div>
	</form>
</div>
