* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
	cursor:pointer;
}

/********** PAGE TRANSITION ANIMATION **********/

.ng-enter, .ng-leave {
	transition: all linear 0.15s;
	transition-delay: 0.15s;
	opacity: 1;
	-webkit-transition: all linear 0.15s;
}

.ng-enter,
.ng-leave.ng-leave-active {
	opacity: 0;
}

.ng-leave,
.ng-enter.ng-enter-active {
	z-index: 1;
	opacity: 1;
}

.ng-leave {
	z-index: -1;
}

.ng-enter {
	transition-delay: 0.15s;
}

/********** **********/

html,body{
    height: 100%;
}

body {
	-webkit-touch-callout: none;	/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;	/* prevent webkit from resizing text to fit */
	font-size: 12px;
	padding: 0px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: white;
}

.loginScreen {
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: white;
}

.mainProfilePage {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: white;
	margin: auto;
	border-radius: 4px;
	border-top-color: #e5e6e9;
	border-left-color: #dfe0e4;
	border-right-color: #dfe0e4;
	border-bottom-color: #cbccd0;
}

.publicProfile {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: white;
	margin: auto;
	border-radius: 4px;
	border: 1px solid;
	border-top-color: #e5e6e9;
	border-left-color: #dfe0e4;
	border-right-color: #dfe0e4;
	border-bottom-color: #cbccd0;
}

.publicProfile > .ui {
	margin: auto;
	left: 0;
	right: 0;
	width: 70%;
}

#publicProfileTable {
	margin: 0px;
	padding: 0;
	width: 100%;
}

#publicProfileUsername {
	font-size: 3rem;
	font-weight: 600;
}

#publicProfileInfo {
	font-size: 1.5rem;
	font-weight: 500;
}

.tableTopText {
	font-weight: 600;
	font-size: 1.25rem;
}

.tableText {
	border: 0;
	font-weight: 500;
	font-size: 1.25rem;
	background-color: transparent;
	text-align: center;
	width: 100%;
	padding-top: 6px;
}

.app {
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #FFFFFF;
}

.ui {
	margin: auto;
	left: 0;
	right: 0;
	width: 70%;
}

.container {
	max-width: 100%;
	padding: 0;
}

.spinner {
	height: 25px;
	width: auto;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #00CED1;
}

/********** SIGNUP *********/

#loginContainer {
	width: 70%;
	text-align: center;
	margin: auto;
}

#spinnerSignUp {
	height: 25px;
	width: auto;
	position: absolute;
	z-index: 10;
	margin: 57.5% 134.5px 0 134.5px;
}

#forgotPasswordButton, #resendVerificationButton {
	width: 100%;
}

#signupButton {
	width: 47.5%;
	height: 100%;
	font-weight: 600;
}

#signinButton {
	width: 47.5%;
	height: 100%;
	font-weight: 600;
}

#email, #password {
	width: 100%;
}

#verifyButton {
	width: 47.5%;
	height: 100%;
	font-weight: 800;
}

/********** LOGIN **********/

.header {
	text-align: center;
	background: linear-gradient(rgba(0, 204, 255, 0.7), rgba(0, 204, 255, 0.7)), url("image/login_background.png") no-repeat center;
	background-size: cover;
	width: 100%;
	height: auto;
	margin: -20px 0 5rem 0;
	max-height: 400px;
}

#headerTitle {
	font-weight: 500;
	text-align: center;
	color: white;
}

#headerDescription {
	font-weight: 400;
	text-align: center;
	padding-top: 1.25rem;
	color: rgba(255, 255, 255, 0.9)
}

#headerIcon {
	width: 100px;
	height: auto;
	margin-bottom: 20px;
}

#howText {
	font-size: 4rem;
	font-weight: 200;
	text-align: center;
	margin-bottom: 40px;
}

.diagram div {
	text-align: center;
	margin: auto;
	border-radius: 10px;
	padding: 5px;
	border: 2px;
	border-style: solid;
	border-color: #60C0DC;
}

.arrow {
	color: #00CED1;
	display: block;
	text-align: center;
	margin: 5px auto;
}

.bottom {
	display: block;
	clear: both;
	max-height: 200px;
	margin-bottom: 35px;
}

#bottomText {
	font-weight: 300;
	margin: 35px auto;
	text-align: center;
}

#createButton {
	font-weight: 500;
	font-size: 2rem;
	display: block;
	padding: 10px 40px;
	margin: auto;
	text-align: center;
}

.fadeFast {
	transition: all linear 0.1s;
	transition-delay: 0.1s;
	opacity: 1;
}

.fadeFast.ng-hide {
	transition-delay: 0s;
	opacity: 0;
}

/********** Index Page Animations *********/
.ng-fade.ng-enter, .ng-fade.ng-leave {
	transition: all linear 0.3s;
	transition-delay: 0.3s;
	opacity: 1;
	-webkit-transition: all linear 0.3s;
}

.ng-fade.ng-enter,
.ng-fade.ng-leave.ng-leave-active {
	opacity: 0;
}

.ng-fade.ng-leave,
.ng-fade.ng-enter.ng-enter-active {
	z-index: 1;
	opacity: 1;
}

.ng-fade.ng-leave {
	z-index: -1;
}

.ng-fade.ng-enter {
	transition-delay: 0.3s;
	position: absolute;
}

/********** NAVIGATION BAR **********/

.navBarIcon {
	padding-top: 8px;
}

.navbar {
	background-color: #ffffff;
	border: 0;
	box-shadow:
    0 0 0 1px #d0d3d5,
    0 0 0 2px #e9ecee,
   	0 0 0 0 white;
   	border-radius: 0;
}

/********** FOOTER **********/

.footer{
	background-color: #f5f8fa;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px;
	padding: 20px 0;
	height: auto;
}

.footer-container {
	width: 70%;
	margin: auto;
}

.footer .footer-left {
	height: auto;
	margin: auto;
}

.footer .footer-left p{
	color:  #CCCCCC;
	font-size: 12px;
	margin: 0;
}

/* Footer links */

.footer p.footer-links a{
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 10px;
	padding: 0;
	display:inline-block;
	line-height: 1;
	text-decoration: none;
	color: #A3A3A3;
}

.footer .footer-right{
	float: right;
	max-width: 180px;
	height: auto;
}

.footer .footer-right a{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #CCCCCC;
	border-radius: 4px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin: auto;
}

/********** UPDATE**********/

#profileButton, #publicProfileButton, #adminButton {
	margin-right: 10px;
}

#nameTextBox {
	width: 250px;
	max-width: 100%;
	border-radius: 4px;
	border-color: rgb(204, 204, 204);
}

#infoTextBox {
	width: 100%;
	max-width: 100%;
	margin: auto;
	border-radius: 4px;
	border-color: rgb(204, 204, 204);
}

#signCanvas {
	border:1px solid rgb(204, 204, 204);
	border-radius: 4px;
}

/********** MEDIA QUERY **********/

@media (min-width: 768px) {
	.header {
		max-height: 450px;
		padding: 75px;
		height: auto;
	}
	#headerTitle {
		font-size: 8rem;
	}
	#headerDescription {
		font-size: 2.25rem;
	}
	.diagram {
		text-align: center;
	}
	.diagram div {
		max-width: 200px;
		width: 20%;
		vertical-align: middle;
	}
	.diagram div h5 {
		text-align: center;
		vertical-align: middle;
		margin: 10% 2rem;
		font-size: 1.5rem;
	}
	.diagram div, .diagram i {
		display: inline-block;
	}
	.arrow {
		padding: 0 10px 0 0;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	#medicalReleaseTable {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
	/* Public Profile */
	.publicProfile {
		width: 80%;
		padding: 25px 60px;
	}
}

@media (max-width: 767px) {
	.ui {
		width: 95%;
	}
	.header {
		padding: 5%;
		max-height: 20%;
	}
	#headerTitle {
		font-size: 5rem;
	}
	#headerDescription {
		font-size: 1.5rem;
		margin-bottom: 0;
	}
	#headerIcon {
		width: 75px;
		height: auto;
		margin-bottom: 10px;
	}
	.diagram div {
		width: 75%;
	}
	#nameTextBox {
		width: 100%;
		margin: 0;
	}
	#infoTextBox {
		width: 100%;
	}
	/* Nav Bar */
	#signInButton {
		margin-right: 15px;
	}
	#loginContainer {
		width: 90%;
	}
	/* Footer */
	.footer-container {
		width: 90%;
		margin: auto;
	}
	/* Public Profile */
	.publicProfile {
		width: 95%;
		padding: 25px 15px 25px 15px;
	}
}
