* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	box-sizing: border-box;
}

.ng-leave {
	transition: 0.4s linear all;
	-webkit-transition: 0.4s linear all;
	/* Safari */
	opacity: 1;
}

.ng-leave-active {
	opacity: 0;
}

.ng-enter {
	transition: 0.4s linear all;
	-webkit-transition: 0.4s linear all;	/* Safari */
	opacity: 0;
}

.ng-enter-active {
	opacity: 1;
}

body {
	-webkit-touch-callout: none;	/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;	/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;	/* prevent copy paste, to allow, change 'none' to 'text' */
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	padding: 0px;
	width: 100%;
	position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #FFFFFF;
}

.loginScreen {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #FFFFFF;
}

.homeScreen {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #FFFFFF;
}

.app {
	overflow-y: hidden;
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #FFFFFF;
}

.ui {
	margin: auto;
	width: 70%;
}

.container {
	max-width: 100%;
	padding: 0;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	text-align: center;
	color: #00CED1;
}

/*  <-------- LOGIN -------->  */

.header {
	text-align: center;
	background: linear-gradient(rgba(0, 204, 255, 0.7), rgba(0, 204, 255, 0.7)), url("image/login_background.png") no-repeat center;
	background-size: cover;
	width: 100%;
	height: auto;
	margin: -20px 0 5rem 0;
	max-height: 400px;
}

#headerTitle {
	font-weight: 400;
	overflow: visible;
	text-align: center;
	color: white;
}

#headerDescription {
	font-weight: 300;
	text-align: center;
	padding-top: 1rem;
	color: rgba(255, 255, 255, 0.8)
}

#headerIcon {
	width: 100px;
	height: auto;
	margin-bottom: 20px;
}

#howText {
	font-size: 4rem;
	font-weight: 200;
	text-align: center;
	margin-bottom: 40px;
}

.diagram div {
	text-align: center;
	margin: auto;
	border-radius: 10px;
	padding: 5px;
	border: 2px;
	border-style: solid;
	border-color: #60C0DC;
}

.arrow {
	color: #00CED1;
	display: block;
	text-align: center;
	margin: 5px auto;
}

.bottom {
	display: block;
	clear: both;
	max-height: 200px;
}

#bottomText {
	font-weight: 300;
	margin: 35px auto;
	text-align: center;
}

#createButton {
	font-size: 2rem;
	display: block;
	padding: 10px 40px;
	margin: auto;
	text-align: center;
	font-weight: 800;
}

/*  <-------- NAVIGATION BAR -------->  */

.navBarIcon {
	padding-top: 8px;
}

/*  <-------- UPDATE -------->  */

#profileButton {
	margin-right: 10px;
}

#nameTextBox {
	width: 250px;
	max-width: 100%;
	border-radius: 4px;
	border-color: rgb(204, 204, 204);
}

#infoTextBox {
	width: 100%;
	max-width: 100%;
	margin: auto;
	border-radius: 4px;
	border-color: rgb(204, 204, 204);
}

#signCanvas {
	border:1px solid rgb(204, 204, 204);
	border-radius: 4px;
}

/*  <-------- MEDIA QUERY -------->  */

@media (min-width: 768px) {
	.header {
		max-height: 450px;
		padding: 75px;
		height: auto;
	}
	#headerTitle {
		font-size: 8rem;
	}
	#headerDescription {
		font-size: 2rem;
	}
	.diagram {
		text-align: center;
	}
	.diagram div {
		max-width: 200px;
		width: 20%;
		vertical-align: middle;
	}
	.diagram div h5 {
		text-align: center;
		vertical-align: middle;
		margin: 10% 2rem;
		font-size: 1.5rem;
	}
	.diagram div, .diagram i {
		display: inline-block;
	}
	.arrow {
		padding: 0 10px 0 0;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	#medicalReleaseTable {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 767px) {
	.ui {
		margin: auto;
		width: 90%;
	}
	.header {
		padding: 12.5%;
	}
	#headerTitle {
		font-size: 6rem;
	}
	#headerDescription {
		font-size: 1.5rem;
	}
	.diagram div {
		width: 75%;
	}
	#nameTextBox {
		width: 100%;
		margin: 0;
	}
	#infoTextBox {
		width: 100%;
	}
	/* Nav Bar */
	#signInButton {
		margin-right: 15px;
	}
}
