<!DOCTYPE html>
<html>
	<head>
		<!--
		Customize this policy to fit your own app's needs. For more guidance, see:
			https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
		Some notes:
			* gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
			* https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
			* Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
				* Enable inline JS: add 'unsafe-inline' to default-src
		-->

		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<meta http-equiv="Content-Security-Policy"
			content="
				default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval';
				connect-src 'self' gap: https://graph.facebook.com https://*.amazonaws.com/;
				style-src 'self' gap: https://maxcdn.bootstrapcdn.com https://cdnjs.cloudflare.com https://fonts.googleapis.com 'unsafe-inline';
				font-src 'self' https://maxcdn.bootstrapcdn.com https://fonts.gstatic.com data:;
				frame-src gap: https://*.facebook.com http://*.facebook.com;
				script-src 'self' gap: 'sha256-DnYP+Zzlc1dNpka2302cKGbPxVdICnzHK2y0nUziS3I=' https://www.google-analytics.com/ https://cdnjs.cloudflare.com https://*.facebook.net https://graph.facebook.com/ http://connect.facebook.net/en_US/sdk.js 'unsafe-eval';
				img-src 'self' data: file: gap: *;
				media-src *">
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<title>Serify</title>

		<link rel="icon" type="image/ico" href="./favicon.ico" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.4/css/ngDialog.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.4/css/ngDialog-theme-plain.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.4/css/ngDialog-theme-default.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700">

		<link rel="stylesheet" href="index.css">
		<link rel="stylesheet" href="spinner.css">

		<!-- Google Analytics sha256-DnYP+Zzlc1dNpka2302cKGbPxVdICnzHK2y0nUziS3I= -->
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', 'UA-88747342-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script async src='https://www.google-analytics.com/analytics.js'></script>
		<!-- End Google Analytics -->

	</head>
	<body ng-controller="navController" style="background: #f5f8fa">
		<nav ng-cloak ng-show="finishedLoading" class="navbar navbar-default">
	        <div ng-cloak class="container-fluid">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header custom-navbar">
	                <a class="navbar-brand navBarIcon" ng-click="ProfileButtonClick()">
	                    <img alt="Serify nav icon" src="image/serify_nav_icon.png" style="height: 34px; width: auto;">
	                </a>
	                <ul class="visible-xs" style="list-style: none;">
	                    <li class="pull-right">
	                        <button ng-cloak ng-show="authentication.UserAuthenticated" id="signInButton" type="button" class="btn btn-warning navbar-btn navbar-right" ng-click="SignInButtonClick()">Sign out</button>
							<button ng-cloak ng-show="!authentication.UserAuthenticated" id="signInButton" type="button" class="btn btn-warning navbar-btn navbar-right" ng-click="SignInButtonClick()">Sign in</button>
	                    </li>
	                    <li ng-cloak ng-show="authentication.IsAdmin && authentication.UserAuthenticated && !isActive('/admin')" class="pull-right">
	                        <button id="adminButton" type="button" class="btn btn-warning navbar-btn" ng-click="AdminButtonClick()">Admin</button>
	                    </li>
	                    <li ng-cloak class="pull-right" ng-hide="isActive('/')">
	                        <button id="profileButton" type="button" class="btn btn-warning navbar-btn" ng-click="ProfileButtonClick()">Profile</button>
	                    </li>
	                    <li ng-cloak ng-show="authentication.UserAuthenticated && isActive('/')" class="pull-right">
	                        <button id="publicProfileButton" type="button" class="btn btn-info navbar-btn" ng-click="PublicProfileButtonClick()">Public Profile</button>
	                    </li>
	                </ul>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li class="pull-right">
	                        <button ng-cloak ng-show="authentication.UserAuthenticated" id="signInButton" type="button" class="btn btn-warning navbar-btn navbar-right" ng-click="SignInButtonClick()">Sign out</button>
	                        <button ng-cloak ng-show="!authentication.UserAuthenticated" id="signInButton" type="button" class="btn btn-warning navbar-btn navbar-right" ng-click="SignInButtonClick()">Sign in</button>
	                    </li>
	                    <li ng-show="authentication.IsAdmin && authentication.UserAuthenticated && !isActive('/admin')" class="pull-right">
	                        <button ng-cloak id="adminButton" type="button" class="btn btn-warning navbar-btn" ng-click="AdminButtonClick()">Admin</button>
	                    </li>
	                    <li class="pull-right" ng-hide="isActive('/')">
	                        <button ng-cloak id="profileButton" type="button" class="btn btn-warning navbar-btn" ng-click="ProfileButtonClick()">Profile</button>
	                    </li>
	                    <li ng-show="authentication.UserAuthenticated && isActive('/')" class="pull-right">
	                        <button ng-cloak id="publicProfileButton" type="button" class="btn btn-info navbar-btn" ng-click="PublicProfileButtonClick()">Public Profile</button>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </nav>

		<div id="main" style="min-height: calc(100% - 150px);">
			<div ng-view="" autoscroll="true">
			</div>
		</div>

		<footer class="footer" ng-controller="footerController">
		    <div class="footer-container">
		        <div class="footer-right">
		            <a href="https://www.facebook.com/Serify-1820992791522117/" target="_blank"><i class="fa fa-facebook"></i></a>
		            <!-- <a href="https://twitter.com/serifyhealth"><i class="fa fa-twitter"></i></a> -->
		            <!-- uncomment this when the twitter page is ready -->
		        </div>
		        <div class="footer-left">
		            <p class="footer-links">
		                <a ng-click="ShowFeedBackFormClick()">Contact Us</a>
		                ·
		                <a ng-click="PrivacyButtonClick()">Privacy Policy</a>
						·
		                <a ng-click="TermsOfServiceButtonClick()">Terms of Use</a>
		            </p>
		            <p>Serify &copy; {{ copyRightDate }}</p>
		        </div>
		    </div>
		</footer>

		<script type="text/javascript" src="polyfills/LocalStorage.js"></script>
		<script type="text/javascript" src="Constants.js"></script>
		<script type="text/javascript" src="MainHandler.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-touch.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.4/js/ngDialog.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.7.7/aws-sdk.min.js"></script>

		<!-- UserPool -->
		<script type="text/javascript" src="userpool-lib/jsbn.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
		<script type="text/javascript" src="userpool-lib/sjcl.js"></script>
		<script type="text/javascript" src="userpool-lib/aws-cognito-sdk.min.js"></script>
		<script type="text/javascript" src="userpool-lib/amazon-cognito-identity.min.js"></script>
		<!-- UserPool -->

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
		<script type="text/javascript" src="index.js"></script>
		<script type="text/javascript" src="footerController.js"></script>

		<!-- Providers and Services -->
		<script type="text/javascript" src="PageService.js"></script>
		<script type="text/javascript" src="LoginStatusProvider.js"></script>
		<script type="text/javascript" src="ApiProvider.js"></script>
		<script type="text/javascript" src="StorageProviderService.js"></script>
		<script type="text/javascript" src="EventHandler.js"></script>
		<script type="text/javascript" src="UserManager.js"></script>
		<script type="text/javascript" src="LinkManager.js"></script>
		<script type="text/javascript" src="VerificationManager.js"></script>
		<script type="text/javascript" src="LogoutService.js"></script>
		<script type="text/javascript" src="AdminService.js"></script>
		<script type="text/javascript" src="FeedbackManager.js"></script>
		<script type="text/javascript" src="Tests.js"></script>
		<!-- Controllers -->
		<script type="text/javascript" src="filters.js" defer></script>
		<script type="text/javascript" src="signin/SigninController.js" defer></script>
		<script type="text/javascript" src="login/LoginController.js" defer></script>
		<script type="text/javascript" src="view/ViewController.js" defer></script>
		<script type="text/javascript" src="authorize/AuthorizeController.js" defer></script>
		<script type="text/javascript" src="authorize/AuthSigninController.js" defer></script>
		<script type="text/javascript" src="update/UpdateController.js" defer></script>
		<script type="text/javascript" src="admin/AdminController.js" defer></script>
		<script type="text/javascript" src="admin/AdminUpdateController.js" defer></script>
		<script type="text/javascript" src="policy/PolicyController.js" defer></script>
		<script type="text/javascript" src="feedback/FeedbackController.js" defer></script>
		<script type="text/javascript" src="editProfile/EditProfileController.js" defer></script>
	</body>
</html>
