<div class="loginScreen">
	<div ng-show="alert" style="text-align: center" uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()" dismiss-on-timeout="5000">{{alert.msg}}</div>
	<div ng-show="authentication.UserAuthenticated" class="ui" style="margin:0% 10% 0% 10%;width:80% !important">
		<div>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<table class="table table-bordered table-hover">
							<thead>
								<th class="text-center">Total Number of Users</th>
								<th class="text-center">Total Number of Verification Requests</th>
							</thead>
							<tbody style="height: 40px">
								<tr>
									<td style="text-align: center">
										{{ userCount }}
									</td>
									<td style="text-align: center">
										{{ requestCount }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div>
			Feedback
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<table class="table table-bordered table-hover">
							<thead>
								<th class="text-center">Time</th>
								<th class="text-center">User</th>
								<th class="text-center">Email</th>
								<th class="text-center">Subject</th>
								<th class="text-center">Message</th>
							</thead>
							<tbody style="height: 40px">
								<tr ng-repeat="feedback in feedbackList | orderBy: 'time' : true | limitTo: 10">
									<td>
										{{ feedback.timeString }}
									</td>
									<td>
										{{ feedback.username }}
									</td>
									<td>
										{{ feedback.email }}
									</td>
									<td>
										{{ feedback.subject }}
									</td>
									<td>
										{{ feedback.body }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div style="text-align: center">
			<form class="navbar-form" role="search">
				<div class="input-group add-on">
					<input class="form-control" placeholder="user@emailaddress.com" name="srch-term" id="srch-term" type="text" ng-model="lookupEmailAddress">
					<div class="input-group-btn">
						<button  ng-click="JumpToUserProfileButtonClick()" class="btn btn-default" type="submit"><i class="fa fa-link"></i> Jump to Profile</button>
					</div>
				</div>
			</form>
		</div>
		<br>
		<div>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<table class="table table-bordered table-hover">
							<thead>
								<th class="text-center">Date Submitted</th>
								<th class="text-center">Name</th>
								<th class="text-center">Email</th>
								<th class="text-center">DOB</th>
								<th class="text-center">Clinic</th>
								<th class="text-center">Address</th>
								<th class="text-center">Verification</th>
								<th class="text-center">Signature</th>
								<th class="text-center">Options</th>
							</thead>
							<tbody style="height: 40px">
								<tr ng-repeat="verificationRequest in verificationRequests | filter:{'status':'NEW'} | orderBy : 'time'">
									<td>
										{{ verificationRequest.time | date : 'MMM d'}}
									</td>
									<td>
										{{ verificationRequest.name }}
									</td>
									<td>
										{{ verificationRequest.email }}
									</td>
									<td>
										<div style="width: 75px;">
											{{ verificationRequest.dob | date:'MMM dd, yyyy'}}
										</div>
									</td>
									<td>
										{{ verificationRequest.clinic }}
									</td>
									<td style="width: 160px;">
										{{ verificationRequest.address }}
									</td>
									<td style="width: 160px; text-align: left;">
										{{ verificationRequest.verification.name }}<br>{{ verificationRequest.verification.date }}
									</td>
									<td style="width: 100px; text-align: center">
										<img style="max-height: 40px" ng-src="{{verificationRequest.signature}}">
									</td>
									<td style="width: 250px; padding-top:10px;">
										<button tabindex="-1" type="button" class="btn btn-success btn-sm" ng-click="VerificationRequestApproveClick(verificationRequest)">Approve</button>
										<button tabindex="-1" type="button" class="btn btn-default btn-sm" ng-click="VerificationRequestEditClick(verificationRequest)">Edit</button>
										<button tabindex="-1" type="button" class="btn btn-warning btn-sm" ng-click="VerificationRequestRejectClick(verificationRequest)">Reject</button>
										<!--<button tabindex="-1" type="button" class="btn btn-danger btn-sm" ng-click="VerificationRequestPositiveClick(verificationRequest)">Set Positive</button>-->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>