<div class="loginScreen">
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand navBarIcon" href="#">
                    <img alt="Serify nav icon" src="image/serify_nav_icon.png" style="height: 34px; width: auto;">
                </a>
                <ul class="visible-xs" style="list-style: none;">
                    <li class="pull-right">
                        <button id="signInButton" type="button" class="btn btn-warning navbar-btn navbar-right" ng-click="SignInButtonClick()">{{UserAuthenticated ? 'Sign out' : 'Sign in'}}</button>
                    </li>
                    <li class="pull-right" ng-show="UserAuthenticated">
                        <button id="profileButton" type="button" class="btn btn-warning navbar-btn" ng-click="ProfileButtonClick()">Profile</button>
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="pull-right">
                        <button type="button" id="signInButton" class="btn btn-warning navbar-btn" ng-click="SignInButtonClick()">{{UserAuthenticated ? 'Sign out' : 'Sign in'}}</button>
                    </li>
                    <li class="pull-right" ng-show="UserAuthenticated">
                        <button id="profileButton" type="button" class="btn btn-warning navbar-btn" ng-click="ProfileButtonClick()">Profile</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<div ng-show="alert" style="text-align: center" uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()" dismiss-on-timeout="5000">{{alert.msg}}</div>
	<div ng-show="UserAuthenticated" class="ui" style="margin:0% 10% 0% 10%;width:80% !important">
		<div>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-10 column">
						<table class="table table-bordered table-hover">
							<thead>
								<th class="text-center">Total Number of Users</th>
								<th class="text-center">Total Number of Verification Requests</th>
							</thead>
							<tbody style="height: 40px">
								<tr>
									<td style="text-align: center">
										{{ userCount }}
									</td>
									<td style="text-align: center">
										{{ requestCount }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-10 column">
						<table class="table table-bordered table-hover">
							<thead>
								<th class="text-center">Date Submitted</th>
								<th class="text-center">Name</th>
								<th class="text-center">Email</th>
								<th class="text-center">DOB</th>
								<th class="text-center">Clinic</th>
								<th class="text-center">Address</th>
								<th class="text-center">Verifications</th>
								<th class="text-center">Signature</th>
								<th class="text-center">Approve</th>
								<th class="text-center">Reject</th>
							</thead>
							<tbody style="height: 40px">
								<tr ng-repeat="verificationRequest in verificationRequests | filter:{'status':'NEW'} | orderBy : 'time'">
									<td>
										{{ verificationRequest.time | date : 'MMM d'}}
									</td>
									<td>
										{{ verificationRequest.name }}
									</td>
									<td>
										{{ verificationRequest.email }}
									</td>
									<td>
										{{ verificationRequest.dob }}
									</td>
									<td>
										{{ verificationRequest.clinic }}
									</td>
									<td>
										{{ verificationRequest.address }}
									</td>
									<td>
										<div style="width: 160px;" ng-repeat="verification in verificationRequest.verifications | filter: { status: 'Unknown'}">
											<input type="checkbox" ng-model="verification.checked" ></input> {{ verification.name }} - {{ verification.date }}
										</div>
										<div style="width: 160px;" ng-repeat="verification in verificationRequest.verifications | filter: { status: 'Verified'}">
											<i style="color: green" class="fa fa-check-square-o" aria-hidden="true"> {{ verification.name }} - {{ verification.date }}</i>
										</div>
										<div style="width: 160px;" ng-repeat="verification in verificationRequest.verifications | filter: { status: 'Rejected'}">
											<i style="color: red" class="fa fa-check-square-o" aria-hidden="true"> {{ verification.name }} - {{ verification.date }}</i>
										</div>
									</td>
									<td style="width: 200px; text-align: center">
										<img style="max-height: 40px" ng-src="{{verificationRequest.signature}}">
									</td>
									<td style="width: 60px;">
										<button tabindex="-1" type="button" class="btn btn-default btn-sm" ng-click="VerificationRequestApproveClick(verificationRequest)">Approve</button>
									</td>
									<td style="width: 60px;">
										<button tabindex="-1" type="button" class="btn btn-default btn-sm" ng-click="VerificationRequestRejectClick(verificationRequest)">Reject</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>