<div class="loginScreen">
    <div id="alert" ng-show="!isLoading && !demographicsComplete()" style="text-align: center" uib-alert class="alert-warning" >
        Please complete the Private Medical Release Information section of your profile before adding verifications.
    </div>
    <div ng-show="alert" style="text-align: center" uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()" dismiss-on-timeout="5000">{{alert.msg}}</div>
    <div ng-show="authentication.UserAuthenticated" class="ui ng-fade">

        <div style="text-align: center">
            <h4>Private Medical Release Information</h4>
            This information is required to verify released verifications. Anything entered below <strong>will not</strong> be shared on your public profile, unless explicitly specified below.
        </div>
        <br>
        <div>
            <table id="medicalReleaseTable"class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="text-center">Full Name</td>
                        <td class="text-center">
                            <input type="text" placeholder='First Name' ng-model="demographics.firstName" class="form-control">
                            <input type="text" placeholder='Middle Name (optional)' ng-model="demographics.middleName" class="form-control">
                            <input type="text" placeholder='Last Name' ng-model="demographics.lastName" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">Date of Birth</td>
                        <td class="text-center">
                            Y <select style="padding: 4px 5px;" ng-model="demographics.selectedDobYear" ng-options="x for x in years"></select>
                            M <select style="padding: 4px 5px;" ng-model="demographics.selectedDobMonth" ng-options="x for x in months"></select>
                            D <select style="padding: 4px 5px;" ng-model="demographics.selectedDobDay" ng-options="x for x in days"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="text-align: center">
            <h5>Optional Release</h5>
        </div>
        <div>
            <style>
                .release-botton-true {
                    border-color: #46b8da;
                    background-color: #5bc0de;
                    color: white;
                }
                .release-botton-true:focus {
                    border-color: #46b8da;
                    background-color: #5bc0de;
                    color: white;
                }
            </style>
            <table ng-show="release" id="medicalReleaseTable"class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="text-center">Name release</td>
                        <td class="text-center">
                            <button style="margin: 2px 0px" ng-click="toggleRelease('firstName')" class="btn btn-default" ng-class="'release-botton-' + release.firstName">First</button>
                            <button style="margin: 2px 0px" ng-click="toggleRelease('middleName')" class="btn btn-default" ng-class="'release-botton-' + release.middleName">Middle</button>
                            <button style="margin: 2px 0px" ng-click="toggleRelease('lastName')" class="btn btn-default" ng-class="'release-botton-' + release.lastName">Last</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">Age release</td>
                        <td class="text-center">
                            <button ng-click="toggleRelease('age')" class="btn btn-default" ng-class="'release-botton-' + release.age">Show Age</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr style="border: 2px solid #000000;">

        <div style="text-align: center">
            <h4>Public Profile Information</h4>
            Make your profile unique by adding something personal. This information will be shared on your public profile.
        </div>
        <br>
        <div class="container">
            <form class="form-horizontal" style="width: 100%;">
                <div ng-show="(!release.firstName && !release.middleName && !release.lastName) || !formattedReleaseName()" class="form-group">
                    <label for="username" class="col-sm-1 col-md-3 control-label">Profile name </label>
                    <div class="col-sm-11 col-md-6">
                        <input id="nameTextBox" type="text" class="form-control" id="username" ng-model="username" placeholder="Anonymous">
                    </div>
                </div>
                <div ng-show="(release.firstName || release.middleName || release.lastName) && formattedReleaseName()" class="form-group">
                    <label for="username" class="col-sm-1 col-md-3 control-label">Profile name </label>
                    <div class="col-sm-11 col-md-6">
                        {{ formattedReleaseName() }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="userProfile" class="col-sm-1 col-md-3 control-label">Info </label>
                    <div class="col-sm-11 col-md-6">
                        <textarea class="form-control" id="infoTextBox" name="userProfile" cols="50" rows="5" ng-model="userProfile"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <hr style="border: 2px solid #000000;">

        <div style="text-align:center">
            <button ng-click="CancelButtonClick()" class="btn btn-default">Cancel</button>
            <button ng-disabled="!demographicsComplete()" ng-click="SaveProfileButtonClick()" class="btn btn-success">Save Profile</button>
            <div class="hidden-xs pull-left" style="text-align:center">
                <button ng-click="DeactiveProfileButtonClick()" class="btn btn-default btn-sm" style="border-color: #d9534f; color:#d9534f;">Deactivate Profile</button>
            </div>
            <div class="hidden-lg visible-xs" style="text-align:center">
                <br>
                <button ng-click="DeactiveProfileButtonClick()" class="btn btn-default btn-sm" style="border-color: #d9534f; color:#d9534f;">Deactivate Profile</button>
            </div>
        </div>
    </div>
</div>
